.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

@media screen and (max-width: 992px ) and ( min-width: 689px) {
    .service-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 688px)  {
    .service-container{
        grid-template-columns: 1fr;
    }
}


